.select-type{
    margin: 20px;
}
.select-type select {
    margin: 10px 20px;
    width: 300px;
    height: 53px;
    padding: 12px;
    font-size: 20px;
    border-radius: 5px;
    border: 3px solid rgb(58, 58, 82);
    outline: none;
    background-color: rgb(226, 231, 235)
}

.select-type select option{
    line-height: 30px;
    padding: 0px;
    outline: none;
}

.cover-image img{
    width: 1590px;
    height: 200px;
}
.cover-image .page-intro{
    margin: 0 auto;
    width: fit-content;
    display: none
}
.cover-image .page-intro div h2{
    font-size: 2em;
}
.cover-image .page-intro div p{
    font-size: 1.5em;
}
.cover-image .page-intro div:nth-child(2){
    display: block;
    margin: 0 auto;
    width: fit-content;
}
#caption{
    font-size: 25px;
    margin-left: 20px;
    color: rgb(51, 50, 45);
    -webkit-font-smoothing: antialiased;
    font-family: Poppins,Arial,Helvetica,sans-serif; 
}
.rows .column-left{
float: left;
width: 70%;
}
.rows .column-right{
    float: left;
    width: 30%;
    height: 900px;
    }
    
.rows:after{
    content:"";
    display: table;
    clear: both;
    
}
.column-left .left-sidebar{
    display: block;
    margin: 0 auto;
    width: 95%;
    border-radius: 10px;
    height:1400px;
}
.column-right .right-sidebar{
    display: block;
    margin: 0 auto;
    width: 95%;
    height:900px;;
    border-radius: 10px;
    background-color: rgb(235, 233, 234);
}



.inner-image-div{
    margin:  0 auto;
    display: block;
    width: fit-content;
    margin-top: 10px;
    border-radius:5px;
    overflow: hidden;
}
.inner-image-div img:hover{
    padding-bottom: 10px;
}

.image-div p {
    padding: none;
    margin: 0;
    margin:5px;
    line-height: 14px;
}
.price {
    font-size: 20px;
    font-weight: bold;
}

.description {
    color: rgb(85, 83, 81);
    overflow: hidden;
    
    
}
.details-div{
    border-left: 3px solid rgb(37, 172, 48);
    border-right: 3px solid rgb(37, 172, 48)
}
.featured{
    margin:  0 auto;
    display: block;
    width: 300px;
    border-left: 3px solid brown;
    border-right: 3px solid brown;
    background-color: rgb(28, 52, 71);
    padding-top: 10px;
    padding-bottom: 10px;
   
}
.featured h3{
    margin: 0;
    color: white;
    margin: 0px 0 0px 100px;
    font-size: 25px;
}
.featured-holder{
    margin: 0 auto;
    display: block;
    width: 65%;
}
.image-div-rightbar{
    display: block;
    width: 260px;
    height: 260px;
    margin: 20px 10px 0 10px;
    background-color: rgb(243, 234, 234);
    overflow: hidden;
    border-radius: 20px
}

@media screen and (max-width:1250px) {

    .rows .column-left{
        width: 100%;
        display: block;
        float: none;
    }
    .rows .column-right{
        margin-top: 20px;
        width: 100%;
        display: block;
        float: none;
        height: 500px;
    }
    .column-right .right-sidebar{
        width: 97%;
        height: 640px;
    }

    .column-left .left-sidebar{
        width: 80%;
    }
    .column-right .right-sidebar{
        width: 80%;
        
    }
    .column-left .left-sidebar{
        height:1150px;
   }
   
   .image-div-rightbar{
    float: left;
    width: 40%
}
.featured-holder{
    margin: 0 auto;
    display: block;
    width: 100%;
}
}
@media screen and (max-width:900px){
    .column-left .left-sidebar{
        width: 97%;
    }
    .column-right .right-sidebar{
        width: 97%;
        height: 640px;
    }
    .rows .column-right {
        height: 500px;
    }
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
    .cover-image .page-intro{
        display: block;
        
    }
    .cover-image img{
        display: none;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 700px) {
      #caption{
          color: green;
      }
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
      .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
      }
}
  .image-div{
    float: left;
    width: 29%;
    height: 250px;
    margin: 20px 10px 0 10px;
    background-color: rgb(243, 234, 234);
    overflow: hidden;
}
@media screen and (max-width:750px){
    .image-div{
        width: 45%;
        margin-left: 5px;
    }
    .column-left .left-sidebar{
         height:1650px;
    }
    .column-right .right-sidebar {
        height:650px;
   }
   

}