.image-wrap{
    border: 1px solid rgba(183, 196, 187, 0.685);
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin: 7px;
    display: inline-block;
    padding: none;
    flex: 0 0 auto;
    
}
.image-wrap .close-button{
    float: right;
    height: 20px;
    font-size: 20px;
    font-weight: bold;
    
}
.image-wrap .close-button img{
width: 15px;
height: 20px;
margin: 3px;
}
.image-wrap .close-button img:hover{
    width: 17px;
    height: 21px;
    }
.image-wrap:hover{
    background-color: rgba(180, 173, 169, 0.726);
    
}
.image-wrap [id="property-image"]{
    display: block;
    width: 150px;
    height: 110px;
    padding: 5px;
    
}
.image-wrap [id="property-image"]:hover{
    width: 140px;
    height:100px;
    
}
.scrolling-wrap{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

}